$listmenu-icons:(button-add,button-edit,button-delete);
@each $icons in $listmenu-icons {
  .#{$icons} { 
    background: url('../img/#{$icons}.svg')no-repeat;
  }
}

.blue-button-round, .grey-button-round, .red-button-round {
  height: 35px;
  width: 35px;
  border-radius: 18px;
  float: left;
  margin-left: 10px;
  color: $nam-white;
  cursor: pointer;
  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.30);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.30);
}

.right {
  float: right;
}
.left {
  float: left;
}

.center {
  margin-left: 70px;
  margin-right: 70px;
}

.close-add {
  content: url('../img/close.svg');
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 1px solid;
  border-color: $sdbr-darkgrey;
  right: 15px;
  top: 13px;
  cursor: pointer;
}

.blue-button-round {
  background-color: $btn-blue;
  &:hover {
    background-color: $btn-blue-hover;
  }
  &:active {
    background-color: $btn-blue-pressed;
  }
}

.grey-button-round {
  background-color: $btn-white;
  &:hover {
    background-color: $btn-white-hover;
  }
  &:active {
    background-color: $btn-white-pressed;
  }  
}

.red-button-round {
  background-color: $btn-red;
  &:hover {
    background-color: $btn-red-hover;
  }
  &:active {
    background-color: $btn-red-pressed;
  }  
}

.blue-button-square, .green-button-square, .red-button-square, .grey-button-square {
  height: 33px;
  width: 74px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 32px;
  border-radius: 4px;
  color: $nam-white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.30);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.30);
}

.grey-button-square {
  background: $btn-white;
  &:hover {
    background: $btn-white-hover;
  }
  &:active {
    background: $btn-white-pressed;
  }
}

.blue-button-square {
  background: $btn-blue;
  &:hover {
    background: $btn-blue-hover;
  }
  &:active {
    background: $btn-blue-pressed;
  }
}

.green-button-square {
  background: $btn-green;
  &:hover {
    background: $btn-green-hover;
  }
  &:active {
    background: $btn-green-pressed;
  }
}

.red-button-square {
  background: $btn-red;
  &:hover {
    background: $btn-red-hover;
  }
  &:active {
    background: $btn-red-pressed;
  }
}

.blue-large-button-square, .green-large-button-square, .red-large-button-square {
  height: 33px;
  width: 100%;
  margin: 10px 0px;
  line-height: 32px;
  border-radius: 4px;
  color: $nam-white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.30);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.30);
}

.blue-large-button-square {
  background: $btn-blue;
  &:hover {
    background: $btn-blue-hover;
  }
  &:pressed {
    background: $btn-blue-pressed;
  }
}

.green-large-button-square {
  background: $btn-green;
  &:hover {
    background: $btn-green-hover;
  }
  &:pressed {
    background: $btn-green-pressed;
  }
}

.red-large-button-square {
  background: $btn-red;
  &:hover {
    background: $btn-red-hover;
  }
  &:pressed {
    background: $btn-red-pressed;
  }
}

.inputfield {
  height: 31px;
  width: 208px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid;
  border-color: $nam-lightblue;
}

.file-inputfield::-webkit-file-upload-button {
  display: none;
}

.file-inputfield::before {
  content: url('../img/upload-button.svg');
  display: block;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  height: 160px;
  width: 210px;
  border-radius: 4px;
  border: 1px dashed;
  border-color: $nam-lightblue;
  text-align: center;
  line-height: 170px;
  color: $nam-blue;
}

.case-type-button {
  float: left;
  width: 25%;
}

.case-status-button {
  float: left;
  width: 50%; 
}

.case-status-button, .case-type-button {
  label {
    text-align: center;
    display: block;
    margin: 3px 0;
  }
  input[type=radio] {
    height: 20px;
    width: 20px;
    visibility: none;
    cursor: pointer;
  } 
}

.case-status-button {
  input[type=radio] {
    margin: 0 44px;
  }
}

.case-type-button {
  input[type=radio] {
    margin: 0 17px;
  }
}