.blue-button-round, .grey-button-round, .red-button-round {
  height: 35px;
  width: 35px;
  border-radius: 35px;
  float: left;
  margin-left: 10px;
  color: $nam-white;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.30);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.30);
  behavior: url('../js/PIE.htc');
  img {
    height: 35px;
    width: 35px;
  }
}

.right {
  float: right;
}
.left {
  float: left;
}

.center {
  margin: auto;
  display: block;
}

.close-add {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  border: 1px solid;
  border-color: $sdbr-darkgrey;
  float: right;
  margin-top: 11px;
  margin-right: -25px;
  cursor: pointer;
  behavior: url('../js/PIE.htc');
}

.blue-button-round {
  background: $btn-blue;
  &:hover {
    background: $btn-blue-hover;
  }
  &:active {
    background: $btn-blue-pressed;
  }
}

.grey-button-round {
  background-color: $btn-white;
  &:hover {
    background-color: $btn-white-hover;
  }
  &:active {
    background-color: $btn-white-pressed;
  }  
}

.red-button-round {
  background-color: $btn-red;
  &:hover {
    background-color: $btn-red-hover;
  }
  &:active {
    background-color: $btn-red-pressed;
  }  
}

.blue-button-square, .green-button-square, .red-button-square, .grey-button-square {
  height: 33px;
  width: 74px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 32px;
  border-radius: 4px;
  color: $nam-white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.30);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.30);
}

.grey-button-square {
  background-color: $btn-white;
  &:hover {
    background-color: $btn-white-hover;
  }
  &:active {
    background-color: $btn-white-pressed;
  }
}

.blue-button-square {
  background-color: $btn-blue;
  &:hover {
    background-color: $btn-blue-hover;
  }
  &:active {
    background:-color $btn-blue-pressed;
  }
}

.green-button-square {
  background-color: $btn-green;
  &:hover {
    background-color: $btn-green-hover;
  }
  &:active {
    background-color: $btn-green-pressed;
  }
}

.red-button-square {
  background-color: $btn-red;
  &:hover {
    background-color: $btn-red-hover;
  }
  &:active {
    background-color: $btn-red-pressed;
  }
}

.blue-large-button-square, .green-large-button-square, .red-large-button-square {
  height: 33px;
  width: 205px;
  margin: 10px 0px;
  line-height: 32px;
  border-radius: 4px;
  color: $nam-white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.30);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.30);
}

.blue-large-button-square {
  background-color: $btn-blue;
  &:hover {
    background-color: $btn-blue-hover;
  }
  &:active {
    background-color: $btn-blue-pressed;
  }
}

.green-large-button-square {
  background-color: $btn-green;
  &:hover {
    background-color: $btn-green-hover;
  }
  &:active {
    background-color: $btn-green-pressed;
  }
}

.red-large-button-square {
  background-color: $btn-red;
  &:hover {
    background-color: $btn-red-hover;
  }
  &:active {
    background-color: $btn-red-pressed;
  }
}

.inputfield {
  height: 31px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid;
  border-color: $nam-lightblue;
}

.inputfield-error {
  border-color: $nam-red;
}

.file-inputfield::-webkit-file-upload-button {
  display: none;
}

.file-inputfield::before {
  content: " ";
  background: url('../img/upload-button.png') no-repeat;
  background-position: center;
  background-size: 48px 48px;
  display: block;
  cursor: pointer;
  height: 160px;
  width: 208px;
  border-radius: 4px;
  border: 1px dashed;
  border-color: $nam-lightblue;
}

input[type=text], input[type=password] {
  font-size: 14px;
  padding-left: 3px;
}

::-webkit-input-placeholder {
  font-size: 14px;
  overflow: visible;
  padding-left: 3px;
}

:-moz-placeholder {
  font-size: 14px;
  overflow: visible;
  padding-left: 3px;
}
::-moz-placeholder {
  font-size: 14px;
  overflow: visible;
  padding-left:3px;
} 
:-ms-input-placeholder { 
  font-size: 14px;
  overflow: visible;
  padding-left: 3px;
}

.case-type-button {
  float: left;
  width: 25%;
}

.case-status-button {
  float: left;
  width: 50%; 
}

.edit {
  width: 33.33%;
  input[type=radio] {
    margin: 0 25px !important;
  }
}

.case-status-button, .case-type-button {
  label {
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 3px 0;
  }
  input[type=radio] {
    height: 20px;
    width: 20px;
    visibility: none;
    cursor: pointer;
  } 
}

.case-status-button {
  input[type=radio] {
    margin: 0 44px;
  }
}

.case-type-button {
  input[type=radio] {
    margin: 0 17px;
  }
}