//buttons
$btn-green: 		#6ABF28;
$btn-green-hover: 	#82D542;
$btn-green-pressed: #60AF23;

$btn-blue:			#4A90E2;
$btn-blue-hover:	#6FA5E5;
$btn-blue-pressed:	#3C80D1;

$btn-grey: 			#D1D1D1;
$btn-grey-hover: 	#6D6E6E;
$btn-grey-pressed: 	#3A3B3A;

$btn-red: 			#FB6D50;
$btn-red-hover: 	#FA8C75;
$btn-red-pressed: 	#F06143;

$btn-white:			#B2B8C5;
$btn-white-hover:	#D0D6E3;
$btn-white-pressed:	#9A9FAB;

//General
$nam-lightgreen: 	#90D05E;
$nam-green:			#6ABF28;

$nam-lightblue: 	#4A90E2;
$nam-blue:			#4A90E2;

$nam-red:			#FB6D50;

$nam-grey:			#555555;
$nam-lightgrey:		#ECF0F1;
$nam-lightergrey: 	#F6F6F6;

$nam-white:			#FFFFFF;

//Sidebar
$sdbr-grey:			#464B57;
$sdbr-lightgrey:	#B2B8C5;
$sdbr-darkgrey:		#3B3D46;

//Text
$txt-light:			#999999;
$txt-normal:		#6E6E6E;
$txt-dark:			#555555;
