//Blue colors:
$nam-lightblue: #4A90E2;
$nam-blue: #005399;
$nam-darkblue: #003C6F;
$nam-darkerblue: #002E54;

//Green colors:
$nam-green: #6ABF28;
$nam-lightgreen: #90D05E;

//Grey colors:
$nam-lightergrey: #F6F6F6;
$nam-lightgrey: #ECF0F1;
$nam-grey: #6E6E6E;
$nam-darkgrey: #333;
$nam-btnlightgrey: #D0D6E3;
$nam-btngrey: #B2B8C5;
$nam-btndarkgrey: #9A9FAB;

//Red colors:
$nam-lightred: #FC927C;
$nam-red: #FB6D50;
$nam-darkred: #ED583A;

//White colors:
$nam-white: #FFF;