.dz-error-mark, .dz-error-message, .dz-size {
  display: none;
}

.dz-details {
  margin-top: 10px;
  height: auto;
  margin-bottom: 5px;
  .dz-filename {
    float: left;
    span {
      font-family: $font-stack;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      text-align: left;
      float: left; 
    }
  }
}

.dz-upload { 
  display: block; 
  background-color: $nam-blue;
  height: 10px;
  width: 0%;
  border-radius: 4px 0 0 4px;
}

.dz-progress {
  border-radius: 8px;
  border: 1px solid;
  border-color: $nam-blue;
}