.login-background {
  background: url('../img/background.JPG');
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/background.jpg', sizingMethod='scale')";
  display: table;
  position: absolute;
  height: 100%;
  width: 100%
}

.login-wrap {
  width: 205px;
  margin: auto;
  display: table;
  padding: 25px 40px 10px ;
  background-color: $nam-white;
  border-radius: 4px;
  behavior: url('../js/PIE.htc');
  div {
    margin: auto;
  }
  .grey-logo {
    background-size: cover;
    width: 55px;
    height: 53px;
    margin: 0 75px 20px;
  }
}

.login-verticalwrap {
  display: table-cell;
  vertical-align: middle;
}

.error-message-login {
  color: $nam-red;
  font-style: italic;
  margin-top: -15px;
}