.error-notification, .succes-notification {
  border-radius: 8px 8px 0 0;
  background: $nam-white;
  -moz-box-shadow:    0px -4px 8px 0px rgba(0,0,0,0.11);
  box-shadow:         0px -4px 8px 0px rgba(0,0,0,0.11);
  height: 52px;
  width: 75%;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  width: 50%;
  display: table;
  font-weight: 300;
  font-style: italic;
  font-size: 1em;
  color: $txt-normal;
  line-height: 24px;
  z-index: 100;
  -webkit-transform: translateY(+100px);
  -webkit-animation: slideUp 4s 0.25s 1 ease forwards;
  -moz-transform:    translateY(+100px);
  -moz-animation:    slideUp 4s 0.25s 1 ease forwards;
}

.red-notification {
  content: url('../img/red-notification.svg');
  float: right;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 1px solid;
  border-color: $nam-red;
  margin-right: 50px;
}

.green-notification {
  content: url('../img/green-notification.svg');
  float: right;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 1px solid;
  border-color: $nam-green;
  margin-right: 50px;
}

.notification-cell {
  display: table-cell;
  vertical-align: middle;
}

@-webkit-keyframes slideUp {
    0%, 100% { -webkit-transform: translateY(+100px); }
    80% { -moz-transform: translateY(-10px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes slideUp {
    0%, 100% { -moz-transform: translateY(+100px); }
    80% { -moz-transform: translateY(-10px); }
    10%, 90% { -moz-transform: translateY(0px); }
}