.delete-case-popup, .edit-case-popup, .add-case-popup, 
.invite-user-popup, .delete-user-popup, .edit-user-popup, 
.add-file-popup, .delete-file-popup, .edit-file-popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/transparent-bg.png") repeat;
  display: none;
}

.box-wrapper {
  width: 210px;
  background-color: $nam-white;
  margin: auto;
  display: table;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 40px 20px;
  behavior: url('../js/PIE.htc');
}

.box-row-wrapper {
  display: table-row;
}

.box-cell-wrapper {
  display: table-cell;
  width: 210px;
  margin: 0 auto;
}

.step-title {
  font-style: italic;
  font-weight: 300;
  font-size: 0.875em;
  color: #555555;
  margin: 15px 0;
  display: block;
  text-align: center;
}

.box-title {
  width: 100%;
  display: block;
  height: 50px;
  font-weight: 600;
  line-height: 50px;
  background: $nam-white;
  color: $txt-normal;
  text-align: center;
  border-radius: 8px 8px 0 0;
}