.delete-case-popup, .edit-case-popup, .add-case-popup, 
.invite-user-popup, .delete-user-popup, .edit-user-popup, 
.add-file-popup, .delete-file-popup, .edit-file-popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/transparent-bg.png") repeat;
  display: none;
}

.box-wrapper, .wide-box-wrapper {
  width: 205px;
  background-color: $nam-white;
  margin: auto;
  display: table;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 0px 20px;
  box-sizing: border-box;
  behavior: url('../js/PIE.htc');
}

.vertical-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.box-wrapper {
  width: 270px;
}

.wide-box-wrapper {
  width: 540px;
}

.line {
  height: 60px;
  width: 1px;
  display: block;
  background-color: $nam-lightgrey;
  float: left;
  margin-top: 25px;
  margin-right: -1px
}

.box-row-wrapper {
  display: table-row;
}

.box-cell-wrapper {
  display: table-cell;
  width: 205px;
  padding: 0 40px;
  margin: 0 auto;
}

.step-title {
  font-style: italic;
  font-weight: 300;
  font-size: 0.875em;
  color: #555555;
  margin: 15px 0;
  display: block;
  text-align: center;
}

.box-title {
  width: 100%;
  display: block;
  height: 50px;
  font-weight: 600;
  line-height: 50px;
  background: $nam-white;
  color: $txt-normal;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.dz-error-mark, .dz-success-mark, .dz-error-message {
  display: none;
}

.dz-upload { 
    display: block; 
    background-color: red; 
    height: 10px;
    width: 0%;
}

.case-status-wrapper, .case-type-wrapper {
  display: block;
  width: 230px;
  box-sizing: border-box;
}

.case-status-wrapper {
  float: right;
  padding-left: 19px;
  padding-bottom: 20px;
}

.case-type-wrapper {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}