@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
html {
  letter-spacing: 0.25px;
  font-family: Lato, sans-serif sans-serif; }

h1, h2, h3, h4 {
  margin: 0; }

h1 {
  font-size: em(34px); }

h2 {
  font-size: em(28px);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px; }

h3 {
  font-size: em(18px); }

h4 {
  font-size: em(14px);
  font-weight: 400;
  color: #d4d4d4; }

a {
  font-size: em(10px);
  color: #4a90e2; }

.blue-button-round, .grey-button-round, .red-button-round {
  height: 35px;
  width: 35px;
  border-radius: 35px;
  float: left;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  behavior: url("../js/PIE.htc"); }
  .blue-button-round img, .grey-button-round img, .red-button-round img {
    height: 35px;
    width: 35px; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin: auto;
  display: block; }

.close-add {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  border: 1px solid;
  border-color: #3b3d46;
  float: right;
  margin-top: 11px;
  margin-right: -25px;
  cursor: pointer;
  behavior: url("../js/PIE.htc"); }

.blue-button-round {
  background: #4a90e2; }
  .blue-button-round:hover {
    background: #6fa5e5; }
  .blue-button-round:active {
    background: #3c80d1; }

.grey-button-round {
  background-color: #b2b8c5; }
  .grey-button-round:hover {
    background-color: #d0d6e3; }
  .grey-button-round:active {
    background-color: #9a9fab; }

.red-button-round {
  background-color: #fb6d50; }
  .red-button-round:hover {
    background-color: #fa8c75; }
  .red-button-round:active {
    background-color: #f06143; }

.blue-button-square, .green-button-square, .red-button-square, .grey-button-square {
  height: 33px;
  width: 74px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 32px;
  border-radius: 4px;
  color: white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.grey-button-square {
  background-color: #b2b8c5; }
  .grey-button-square:hover {
    background-color: #d0d6e3; }
  .grey-button-square:active {
    background-color: #9a9fab; }

.blue-button-square {
  background-color: #4a90e2; }
  .blue-button-square:hover {
    background-color: #6fa5e5; }
  .blue-button-square:active {
    background: -color #3c80d1; }

.green-button-square {
  background-color: #6abf28; }
  .green-button-square:hover {
    background-color: #82d542; }
  .green-button-square:active {
    background-color: #60af23; }

.red-button-square {
  background-color: #fb6d50; }
  .red-button-square:hover {
    background-color: #fa8c75; }
  .red-button-square:active {
    background-color: #f06143; }

.blue-large-button-square, .green-large-button-square, .red-large-button-square {
  height: 33px;
  width: 205px;
  margin: 10px 0px;
  line-height: 32px;
  border-radius: 4px;
  color: white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.blue-large-button-square {
  background-color: #4a90e2; }
  .blue-large-button-square:hover {
    background-color: #6fa5e5; }
  .blue-large-button-square:active {
    background-color: #3c80d1; }

.green-large-button-square {
  background-color: #6abf28; }
  .green-large-button-square:hover {
    background-color: #82d542; }
  .green-large-button-square:active {
    background-color: #60af23; }

.red-large-button-square {
  background-color: #fb6d50; }
  .red-large-button-square:hover {
    background-color: #fa8c75; }
  .red-large-button-square:active {
    background-color: #f06143; }

.inputfield {
  height: 31px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #4a90e2; }

.inputfield-error {
  border-color: #fb6d50; }

.file-inputfield::-webkit-file-upload-button {
  display: none; }

.file-inputfield::before {
  content: " ";
  background: url("../img/upload-button.png") no-repeat;
  background-position: center;
  background-size: 48px 48px;
  display: block;
  cursor: pointer;
  height: 160px;
  width: 208px;
  border-radius: 4px;
  border: 1px dashed;
  border-color: #4a90e2; }

input[type=text], input[type=password] {
  font-size: 14px;
  padding-left: 3px; }

::-webkit-input-placeholder {
  font-size: 14px;
  overflow: visible;
  padding-left: 3px; }

:-moz-placeholder {
  font-size: 14px;
  overflow: visible;
  padding-left: 3px; }

::-moz-placeholder {
  font-size: 14px;
  overflow: visible;
  padding-left: 3px; }

:-ms-input-placeholder {
  font-size: 14px;
  overflow: visible;
  padding-left: 3px; }

.case-type-button {
  float: left;
  width: 25%; }

.case-status-button {
  float: left;
  width: 50%; }

.edit {
  width: 33.33%; }
  .edit input[type=radio] {
    margin: 0 25px !important; }

.case-status-button label, .case-type-button label {
  text-align: center;
  font-size: 14px;
  display: block;
  margin: 3px 0; }
.case-status-button input[type=radio], .case-type-button input[type=radio] {
  height: 20px;
  width: 20px;
  visibility: none;
  cursor: pointer; }

.case-status-button input[type=radio] {
  margin: 0 44px; }

.case-type-button input[type=radio] {
  margin: 0 17px; }

.login-background {
  background: url("../img/background.JPG");
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/background.jpg', sizingMethod='scale')";
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }

.login-wrap {
  width: 270px;
  box-sizing: border-box;
  margin: auto;
  display: table;
  padding: 25px 0px 10px;
  background-color: white;
  border-radius: 4px;
  behavior: url("../js/PIE.htc"); }
  .login-wrap div {
    margin: auto; }
  .login-wrap .grey-logo {
    background-size: cover;
    width: 55px;
    height: 53px;
    margin: 0 75px 20px; }

.error-message-login {
  color: #fb6d50;
  font-style: italic;
  margin-top: -15px; }

.error-notification, .succes-notification {
  border-radius: 8px 8px 0 0;
  background: white;
  -moz-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.11);
  height: 52px;
  width: 75%;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  display: table;
  font-weight: 300;
  font-style: italic;
  font-size: 1em;
  color: #6e6e6e;
  line-height: 24px;
  z-index: 100;
  -webkit-transform: translateY(100px);
  -webkit-animation: slideUp 4s 0.25s 1 ease forwards;
  -moz-transform: translateY(100px);
  -moz-animation: slideUp 4s 0.25s 1 ease forwards;
  behavior: url("../js/PIE.htc"); }

.red-notification {
  float: right;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 1px solid;
  border-color: #fb6d50;
  margin-right: 50px;
  behavior: url("../js/PIE.htc"); }

.green-notification {
  float: right;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: 1px solid;
  border-color: #6abf28;
  margin-right: 50px;
  behavior: url("../js/PIE.htc"); }

.notification-cell {
  display: table-cell;
  vertical-align: middle; }

@-webkit-keyframes slideUp {
  0%, 100% {
    -webkit-transform: translateY(100px); }

  80% {
    -moz-transform: translateY(-10px); }

  10%, 90% {
    -webkit-transform: translateY(0px); } }

@-moz-keyframes slideUp {
  0%, 100% {
    -moz-transform: translateY(100px); }

  80% {
    -moz-transform: translateY(-10px); }

  10%, 90% {
    -moz-transform: translateY(0px); } }

.user-wrapper {
  width: 300px;
  margin: 0 auto; }

.user-info {
  width: 120px;
  float: left;
  display: block;
  line-height: 30px; }

.user-data {
  width: 180px;
  float: right;
  display: block;
  line-height: 30px;
  color: #d4d4d4; }

.user-data-status {
  width: 180px;
  float: right;
  display: block;
  line-height: 30px;
  color: #555555;
  font-style: italic;
  font-weight: 300; }

.delete-case-popup, .edit-case-popup, .add-case-popup,
.invite-user-popup, .delete-user-popup, .edit-user-popup,
.add-file-popup, .delete-file-popup, .edit-file-popup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/transparent-bg.png") repeat;
  display: none; }

.box-wrapper, .wide-box-wrapper {
  width: 205px;
  background-color: white;
  margin: auto;
  display: table;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 0px 20px;
  box-sizing: border-box;
  behavior: url("../js/PIE.htc"); }

.vertical-wrapper {
  display: table-cell;
  vertical-align: middle; }

.box-wrapper {
  width: 270px; }

.wide-box-wrapper {
  width: 540px; }

.line {
  height: 60px;
  width: 1px;
  display: block;
  background-color: #ecf0f1;
  float: left;
  margin-top: 25px;
  margin-right: -1px; }

.box-row-wrapper {
  display: table-row; }

.box-cell-wrapper {
  display: table-cell;
  width: 205px;
  padding: 0 40px;
  margin: 0 auto; }

.step-title {
  font-style: italic;
  font-weight: 300;
  font-size: 0.875em;
  color: #555555;
  margin: 15px 0;
  display: block;
  text-align: center; }

.box-title {
  width: 100%;
  display: block;
  height: 50px;
  font-weight: 600;
  line-height: 50px;
  background: white;
  color: #6e6e6e;
  text-align: center;
  border-radius: 8px 8px 0 0; }

.case-status-wrapper, .case-type-wrapper {
  display: block;
  width: 230px;
  box-sizing: border-box; }

.case-status-wrapper {
  float: right;
  padding-left: 19px;
  padding-bottom: 20px; }

.case-type-wrapper {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px; }

.dz-error-mark, .dz-error-message, .dz-size {
  display: none; }

.dz-details {
  margin-top: 10px;
  height: auto;
  margin-bottom: 5px; }
  .dz-details .dz-filename {
    float: left; }
    .dz-details .dz-filename span {
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      text-align: left;
      float: left; }

.dz-upload {
  display: block;
  background-color: #4a90e2;
  height: 10px;
  width: 0%;
  border-radius: 4px 0 0 4px; }

.dz-progress {
  border-radius: 8px;
  border: 1px solid;
  border-color: #4a90e2; }

html {
  height: 100%; }

body {
  margin: 0 auto;
  height: 100%; }

.header-wrapper {
  width: 75%;
  margin: 0 auto; }

.clear {
  clear: both;
  line-height: 0; }

.highlight {
  background: #ecf0f1; }

.header {
  width: 100%;
  height: 60px;
  background: #6abf28; }
  .header img {
    margin: 12px 0 0 0;
    float: left;
    width: 128px; }
  .header .nav {
    margin-right: 0; }
    .header .nav ul {
      list-style: none;
      float: right;
      margin: 0; }
      .header .nav ul a {
        color: white;
        font-size: 1.125em; }
        .header .nav ul a li {
          float: left;
          line-height: 60px;
          padding: 0 20px; }
          .header .nav ul a li:hover {
            background: #90d05e; }

.main {
  width: 75%;
  margin: 40px auto; }
  .main ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .main ul li {
      display: table;
      width: 100%; }
      .main ul li:hover {
        background: #f6f6f6; }
      .main ul li div {
        display: table-cell;
        border-bottom: 1px solid;
        border-bottom-color: #ecf0f1; }
      .main ul li .case-name {
        width: 62%;
        padding: 17px 3%; }
        .main ul li .case-name a {
          color: #6e6e6e;
          text-decoration: none; }
          .main ul li .case-name a:hover {
            text-decoration: underline; }
      .main ul li .case-type {
        width: 20%;
        color: #6e6e6e; }
      .main ul li .case-status {
        width: 10%;
        color: #555555;
        font-weight: 200;
        font-style: italic; }
      .main ul li .user-name {
        width: 47%;
        padding: 17px 3%; }
        .main ul li .user-name a {
          color: #6e6e6e;
          text-decoration: none; }
          .main ul li .user-name a:hover {
            text-decoration: underline; }
      .main ul li .user-type {
        width: 35%;
        color: #6e6e6e; }
      .main ul li .user-status {
        width: 10%;
        color: #555555;
        font-weight: 200;
        font-style: italic; }

.breadcrumb {
  float: left; }
  .breadcrumb a {
    color: #999999;
    text-decoration: none; }
    .breadcrumb a:hover {
      text-decoration: underline; }

#breadcrumb-highlight {
  font-weight: 600;
  color: #555555; }

.button-wrapper {
  float: right;
  margin-bottom: 30px; }

.listheading {
  width: 100%;
  height: 30px;
  border-bottom: 3px solid;
  border-bottom-color: #ecf0f1; }
  .listheading .case-name-head {
    width: 64.4%;
    padding-left: 3%;
    float: left;
    font-size: 0.8em; }
  .listheading .case-type-head {
    width: 21.65%;
    float: left;
    font-size: 0.8em; }
  .listheading .case-status-head {
    width: 10%;
    float: left;
    font-size: 0.8em; }
  .listheading .user-name-head {
    width: 47.9%;
    padding-left: 3%;
    float: left;
    font-size: 0.8em; }
  .listheading .user-type-head {
    width: 38.2%;
    float: left;
    font-size: 0.8em; }
  .listheading .user-status-head {
    width: 10%;
    float: left;
    font-size: 0.8em; }

.user-list ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .user-list ul .user {
    display: table;
    width: 100%; }
    .user-list ul .user:hover {
      background: #f6f6f6; }
