@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
html {
  letter-spacing: 0.25px;
  font-family: Lato, sans-serif sans-serif; }

h1, h2, h3, h4 {
  margin: 0; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 0.75em;
  font-weight: 400;
  color: #d4d4d4; }

.button-add {
  background: url("../img/button-add.png") no-repeat; }

.button-edit {
  background: url("../img/button-edit.png") no-repeat; }

.button-delete {
  background: url("../img/button-delete.png") no-repeat; }

.blue-button-round, .grey-button-round, .red-button-round {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  float: left;
  margin-left: 20px;
  color: white;
  cursor: pointer; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin: auto; }

.close-add {
  content: url("../img/close.png");
  position: absolute;
  right: 15px;
  top: 13px;
  cursor: pointer; }

.blue-button-round {
  background-color: #005399; }

.grey-button-round {
  background-color: #6e6e6e; }

.red-button-round {
  background-color: #fb6d50; }

.blue-button-square, .green-button-square, .red-button-square {
  height: 33px;
  width: 74px;
  margin: 10px 0px;
  line-height: 32px;
  border-radius: 4px;
  color: white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  border-radius: 4px;
  cursor: pointer;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.blue-button-square {
  background: #005399; }

.green-button-square {
  background: #6abf28; }

.red-button-square {
  background: #fb6d50; }

.blue-large-button-square, .green-large-button-square, .red-large-button-square {
  height: 33px;
  width: 100%;
  margin: 10px 0px;
  line-height: 32px;
  border-radius: 4px;
  color: white;
  text-align: center;
  border: 0 none;
  font-size: 0.875em;
  border-radius: 4px;
  cursor: pointer;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.blue-large-button-square {
  background: #005399; }

.green-large-button-square {
  background: #6abf28; }

.red-large-button-square {
  background: #fb6d50; }

.inputfield {
  height: 33px;
  width: 203px;
  margin-bottom: 0px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ecf0f1; }

.file-inputfield::-webkit-file-upload-button {
  display: none; }

.file-inputfield::before {
  content: 'Select your files...';
  display: block;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  height: 100px;
  width: 210px;
  border-radius: 4px;
  border: 1px dashed;
  border-color: #005399;
  text-align: center;
  line-height: 90px;
  color: #005399; }

.case-type-button {
  float: left;
  width: 25%; }

.case-status-button {
  float: left;
  width: 50%; }

.case-status-button label, .case-type-button label {
  text-align: center;
  display: block;
  margin: 3px 0; }
.case-status-button input[type=radio], .case-type-button input[type=radio] {
  height: 20px;
  width: 20px;
  visibility: none;
  cursor: pointer;
  content: url("../img/radio-button.png"); }
  .case-status-button input[type=radio]:checked, .case-type-button input[type=radio]:checked {
    content: url("../img/radio-button-selected.png"); }

.add-shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none; }

.option {
  margin: 0 0 15px 0; }

.box-wrapper {
  width: 290px;
  height: 420px;
  background-color: white;
  margin: auto;
  border-radius: 8px; }

.box-step {
  width: 210px;
  height: 240px;
  float: left;
  text-align: center;
  margin: 5px 40px; }
  .box-step .step-title {
    font-style: italic;
    font-weight: 300;
    font-size: 0.875em;
    color: #555555;
    margin: 15px 0;
    display: block; }

.box-title {
  width: 100%;
  display: block;
  height: 50px;
  line-height: 50px;
  background: white;
  color: #6e6e6e;
  text-align: center;
  border-radius: 8px 8px 0 0; }

.login-background {
  background: #6abf28;
  position: absolute;
  height: 100%;
  width: 100%; }

.login-wrap {
  width: 210px;
  height: auto;
  padding: 25px 40px 10px;
  background-color: white;
  border-radius: 4px; }
  .login-wrap div {
    margin: auto; }
  .login-wrap img {
    content: url("../img/nam-logo-grey.png");
    margin: 0 77px 20px; }

html {
  height: 100%; }

body {
  margin: 0 auto;
  height: 100%; }

.clear {
  clear: both;
  line-height: 0; }

.highlight {
  background: #ecf0f1; }

header {
  width: 100%;
  height: 60px;
  background: #6abf28; }
  header img {
    margin: 12px 0 0 5%;
    content: url("../img/nam-logo.svg") no-repeat;
    float: left;
    width: 128px; }
  header nav {
    margin-right: 5%; }
    header nav ul {
      list-style: none;
      float: right;
      margin: 0; }
      header nav ul a {
        color: white;
        font-size: 1.125em; }
        header nav ul a li {
          float: left;
          line-height: 60px;
          padding: 0 20px; }
          header nav ul a li:hover {
            background: #90d05e; }

.main {
  width: 75%;
  margin: 40px auto; }
  .main ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .main ul li {
      display: table;
      width: 100%; }
      .main ul li:hover {
        background: #f6f6f6; }
      .main ul li div {
        display: table-cell;
        border-bottom: 1px solid;
        border-bottom-color: #ecf0f1;
        padding: 17px 0; }
      .main ul li .case-name {
        width: 55%;
        padding-left: 3%; }
        .main ul li .case-name a {
          color: #6e6e6e;
          text-decoration: none; }
          .main ul li .case-name a:hover {
            text-decoration: underline; }
      .main ul li .case-type {
        width: 25%;
        color: #6e6e6e; }
      .main ul li .case-status {
        width: 15%;
        color: #333333;
        font-weight: 200;
        font-style: italic; }

.breadcrumb {
  float: left; }
  .breadcrumb a {
    color: #333333;
    text-decoration: none; }
    .breadcrumb a:hover {
      text-decoration: underline; }
    .breadcrumb a:last-child {
      font-weight: 600; }

.button-wrapper {
  float: right;
  margin-bottom: 30px; }

.listheading {
  width: 100%;
  height: 30px;
  border-bottom: 3px solid;
  border-bottom-color: #ecf0f1; }
  .listheading .case-name-head {
    width: 54.7%;
    padding-left: 3%;
    float: left;
    font-size: 0.8em; }
  .listheading .case-type-head {
    width: 26.2%;
    float: left;
    font-size: 0.8em; }
  .listheading .case-status-head {
    width: 15%;
    float: left;
    font-size: 0.8em; }
